body {
    margin: 0;
    display: flex;
}
.sidebar {
    width: 20%;
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    top: 0;
    padding-left: 10px;
}
.content {
    width: 80%;
    padding-left: 23%;
    padding-right: 2%;
    padding-top: 20px;
}
.content img {
    width: 40%; 
    /* height: 20%;  */
}
/* .sidebar2 {
    width: 20%;
    background-color: cyan;
    color: darkorange;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    padding-left: 9px;
    padding-top: 10px;
    opacity: 50%;
} */
